.text{
  color: #6a859c;
  margin-bottom: 1em*10/14;
  font-size: 0.875rem;
  line-height: 1em*25/14;
  font-weight: 300;
}

.listItem{
  @extend .text;
  color: #668cad;
  border-bottom: 1px solid #d5d5e0;
  line-height: 1em*20/14;
  margin-bottom: 1em*6/14;
  padding-bottom: 1em*10/14;
  flex-grow: 1;
}

.container{
  display: flex;
  align-items: center;
}

.image{
  width: 20px;
  margin-right: 0.5em;
  align-self: flex-start;
}